pre,
code {
  font-family: Menlo, Monaco, "Courier New", monospace !important;
}

pre {
  padding: .5rem;
  line-height: 1.25;
  overflow-x: scroll;
}

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline !important;
  }

  a[href]:after {
    content: " (" attr(href) ")" !important;
  }

  abbr[title]:after {
    content: " (" attr(title) ")" !important;
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999 !important;
    page-break-inside: avoid !important;
  }

  thead {
    display: table-header-group !important;
  }

  tr,
  img {
    page-break-inside: avoid !important;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3 !important;
    widows: 3 !important;
  }

  h2,
  h3 {
    page-break-after: avoid !important;
  }
}

a,
a:visited {
  color: #01ff70 !important;
}

a:hover,
a:focus,
a:active {
  color: #2ecc40 !important;
}

.retro-no-decoration {
  text-decoration: none !important;
}

html {
  font-size: 12px !important;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  html {
    font-size: 15px !important;
  }
}

@media screen and (min-width: 48rem) {
  html {
    font-size: 16px !important;
  }
}

body {
  line-height: 1.85 !important;
}

p,
.retro-p {
  font-size: 1rem !important;
  margin-bottom: 1.3rem !important;
}

h1,
.retro-h1,
h2,
.retro-h2,
h3,
.retro-h3,
h4,
.retro-h4 {
  margin: 1.414rem 0 .5rem !important;
  font-weight: inherit !important;
  line-height: 1.42 !important;
}

h1,
.retro-h1 {
  margin-top: 0 !important;
  font-size: 3.598rem !important;
}

h2,
.retro-h2 {
  font-size: 2.827rem !important;
}

h3,
.retro-h3 {
  font-size: 1.999rem !important;
}

h4,
.retro-h4 {
  font-size: 1.414rem !important;
}

h5,
.retro-h5 {
  font-size: 1.121rem !important;
}

h6,
.retro-h6 {
  font-size: .88rem !important;
}

small,
.retro-small {
  font-size: .707em !important;
}

/* https://github.com/mrmrs/fluidity */

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100% !important;
}

html,
body {
  background-color: #222 !important;
  min-height: 100% !important;
}

html {
  font-size: 18px !important;
}

div {
  background-color: #222 !important;
}

body {
  color: #fafafa !important;
  font-family: "Courier New !important";
  line-height: 1.45 !important;
  margin: 0 auto 1rem !important;
  max-width: 48rem !important;
  padding: .25rem !important;
}

pre {
  background-color: #333 !important;
}

blockquote {
  border-left: 3px solid #01ff70 !important;
  padding-left: 1rem !important;
}
.preview-page {
  margin-top: 0 !important;
}

.boxed-group>h3, .boxed-group .heading {
  background-color: #222 !important;
}

.readme .markdown-body, .readme .plain {
  background-color: #222 !important;
  border: 0 none !important;
}
